#about-section {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--background-color-gray);
}

#about-section .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-about {
    margin: auto;
    padding-right: 150px;
}

.content-about h1 {
    color: var(--color-header);
    font-size: 50px;
    font-weight: 700;
}

.content-about p {
    color: var(--color-dark-small-text);
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
}

.cards-about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.cards-about div {
    padding: 32px;
    border-radius: var(--radius-btn);
    background-color: white;
    box-shadow: 1px 2px 4px #80808059;
    transition: 0.35s ease;
}

.cards-about div:hover {
    box-shadow: 0px 3px 11px #5b5a5ad5;
}

.cards-about h4 {
    color: var(--color-header);
}

.cards-about p {
    color: var(--color-card-text);
    font-size: 16px;
}

/* ---------- Responsive ---------- */

@media (max-width: 575px) {
    #about-section {
        height: 95vh;
    }

    #about-section .container {
        display: flex;
        flex-direction: column;
        gap: 55px;
        padding: 0 24px;
    }

    .content-about {
        margin: auto;
        padding-right: 0px;
    }

    .content-about h1 {
        font-size: 34px;
    }

    .content-about p {
        font-size: 16px;
        margin-top: 25px;
    }

    .cards-about {
        gap: 20px;
    }

    .cards-about div {
        padding: 16px 22px;
    }

    .cards-about h4 {
        font-size: 18px;
    }

    .cards-about p {
        font-size: 14px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #about-section {
        height: 95vh;
    }

    #about-section .container {
        display: flex;
        flex-direction: column;
        gap: 55px;
    }

    .content-about {
        margin: auto;
        padding-right: 0px;
    }

    .content-about h1 {
        font-size: 34px;
    }

    .content-about p {
        font-size: 16px;
        margin-top: 25px;
    }

    .cards-about {
        gap: 20px;
    }

    .cards-about div {
        padding: 20px 22px;
    }

    .cards-about h4 {
        font-size: 18px;
    }

    .cards-about p {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #about-section {
        height: 95vh;
    }

    #about-section .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .content-about {
        margin: auto;
        padding-right: 80px
    }

    .content-about h1 {
        font-size: 38px;
    }

    .content-about p {
        font-size: 16px;
        margin-top: 25px;
    }

    .cards-about {
        gap: 36px;
    }

    .cards-about div {
        padding: 20px 22px;
    }

    .cards-about h4 {
        font-size: 18px;
    }

    .cards-about p {
        font-size: 14px;
    }
}