#contact-section {
    padding: 60px 0;
    background:
        radial-gradient(circle at bottom left,
            rgba(255, 234, 198, 0.427),
            transparent 20%),
        radial-gradient(circle at top right,
            rgba(255, 234, 198, 0.427),
            transparent 20%),
        radial-gradient(circle at bottom right,
            rgba(196, 245, 233, 0.5),
            transparent 45%),
        radial-gradient(circle at top left,
            rgba(219, 77, 241, 0.107),
            transparent 45%),
        #fff;
}

.header-contact {
    text-align: center;
}

.header-contact h1 {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

.header-contact h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 1.5px;
    background: linear-gradient(to right,
            transparent,
            var(--color-header),
            transparent);
    border-radius: var(--radius-btn);
}

.para-form h4 {
    color: var(--color-header);
}

.para-form p {
    color: var(--color-small-text);
}

.form-container {
    margin: 50px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    display: grid;
    grid-template-rows: auto;
    gap: 25px;
    width: 60%;
    padding: 40px;
    border-radius: var(--radius-btn);
    background-color: rgb(219 77 241 / 6%);
    color: black;
    box-shadow: 0 0 17px 5px #80808052;
}

input,
textarea {
    padding: 6px 14px;
    border-radius: var(--radius-btn);
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.313);
    background-color: var(--background-color-gray);
}

::placeholder {
    color: rgba(0, 0, 0, 0.589);
}

textarea {
    height: 20vh;
}

input:focus,
textarea:focus {
    border: 1px solid var(--color-primary);
    background-color: #e8e8eb;
}

.btn-submit {
    padding: 10px;
    border-radius: var(--radius-btn);
    font-size: 16px;
    font-weight: 600;
    border: none;
    background-color: var(--background-color-box);
    color: var(--color-header);
    transition: 0.5s ease;
}

.btn-submit:hover {
    background-color: #debefb;
}

.btn-submit i,
.para-form i {
    margin-right: 6px;
}

.box-mail {
    text-align: center;
}

.box-mail p {
    font-size: 18px;
    color: var(--color-small-text);
    margin-bottom: 12px;
}

.box-mail a {
    font-size: 20px;
    color: var(--color-primary);
}

.box-mail a:hover {
    color: var(--color-primary-hover);
}

/* ---------- Responsive ---------- */

/* Mobile phone */
@media (max-width: 575px) {
    #contact-section {
        padding: 50px 0;
    }

    .para-form p {
        font-size: 12px;
    }
    .para-form h4 {
        font-size: 18px;
    }

    .form-container {
        margin: 40px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    form {
        gap: 20px;
        width: 85%;
        padding: 30px;
    }

    ::placeholder {
        font-size: 10px;
    }

    input,
    textarea {
        padding: 6px 14px;
        font-size: 12px;
    }

    textarea {
        height: 18vh;
    }

    .btn-submit {
        padding: 8px;
        font-size: 10px;
    }

    .box-mail p {
        font-size: 12px;
    }

    .box-mail a {
        font-size: 14px;
    }
}

/* large mobile phone */
@media (min-width: 576px) and (max-width: 767px) {
    #contact-section {
        padding: 60px 0;
    }

    .para-form p {
        font-size: 15px;
    }

    form {
        width: 90%;
    }

    ::placeholder {
        font-size: 15px;
    }

    input,
    textarea {
        padding: 6px 14px;
                font-size: 13px;
    }

    textarea {
        height: 18vh;
    }

    .btn-submit {
        padding: 8px;
        font-size: 15px;
    }

    .box-mail p {
        font-size: 15px;
    }

    .box-mail a {
        font-size: 16px;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    #contact-section {
        padding: 60px 0;
    }

    .para-form p {
        font-size: 16px;
    }

    form {
        width: 90%;
    }

    ::placeholder {
        font-size: 15px;
    }

    .btn-submit {
        padding: 10px;
        font-size: 16px;
    }

    .box-mail p {
        font-size: 16px;
    }

    .box-mail a {
        font-size: 18px;
    }
}