.footer-section{
    background-color: var(--background-color-footer);
    padding: 30px;
}

.footer-section .container{
    display: flex;
    justify-content: space-between;
}

.footer-section .container p{
    font-size: 18px;
    color: whitesmoke;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.links i{
    font-size: 26px;
    color: whitesmoke;
    transition: 0.35s ease;
}
.links i:hover{
    color: var(--color-primary);
}

/* ---------- Responsive ---------- */

@media (max-width: 768px) {
    
}
