#letsProject-section {
    height: 60vh;
    background-color: #132238;
    display: flex;
    text-align: center;
}

#letsProject-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#letsProject-section .container h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
    margin: 0;
}

#letsProject-section .container p {
    color: #A5ACB5;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
}

#letsProject-section .container a {
    background-color: var(--color-primary);
    color: var(--color-whitesmoke);
    border: none;
    padding: 12px 24px;
    border-radius: var(--radius-btn);
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s ease;
}

#letsProject-section .container a:hover {
    padding: 14px 26px;
    font-size: 18px;
}

#letsProject-section .container div {
    width: 500px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#letsProject-section .container a i {
    margin-left: 12px;
}

/* ---------- Responsive ---------- */

/* Mobile phone */
@media (max-width: 575px) {
    #letsProject-section {
        height: 60vh;
        display: flex;
        text-align: center;
    }

    #letsProject-section .container h1 {
        font-size: 24px;
    }

    #letsProject-section .container p {
        font-size: 12px;
    }

    #letsProject-section .container a {
        font-size: 12px;
            padding: 10px 24px;
    }

    #letsProject-section .container a:hover {
        padding: 14px 26px;
        font-size: 18px;
    }

    #letsProject-section .container div {
        width: 700px;
    }

    #letsProject-section .container a:hover {
        padding: 12px 24px;
        font-size: 16px;
    }

}

/* large mobile phone */
@media (min-width: 576px) and (max-width: 767px) {
    #letsProject-section {
        height: 60vh;
        display: flex;
        text-align: center;
    }

    #letsProject-section .container h1 {
        font-size: 32px;
    }

    #letsProject-section .container p {
        font-size: 17px;
    }

    #letsProject-section .container a {
        font-size: 14px;
    }

    #letsProject-section .container a:hover {
        padding: 14px 26px;
        font-size: 18px;
    }

    #letsProject-section .container div {
        width: 700px;
    }

    #letsProject-section .container a:hover {
        padding: 12px 24px;
        font-size: 16px;
    }

}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    #letsProject-section {
        height: 60vh;
        display: flex;
        text-align: center;
    }

    #letsProject-section .container h1 {
        font-size: 36px;
    }

    #letsProject-section .container p {
        font-size: 18px;
    }

    #letsProject-section .container a {
        font-size: 14px;
    }

    #letsProject-section .container a:hover {
        padding: 14px 26px;
        font-size: 18px;
    }

    #letsProject-section .container div {
        width: 700px;
    }

    #letsProject-section .container a:hover {
        padding: 12px 24px;
        font-size: 16px;
    }

}