#skills-section {
    text-align: center;
    background-color: var(--background-color-gray);
    padding: 80px 0 110px;
}

#skills-section .container {
    padding: 0 40px;
}

#skills-section .container h1 {
    font-weight: 700;
    color: var(--color-header);
    display: inline-block;
    position: relative;
    margin-bottom: 40px;
}

#skills-section .container h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 1.5px;
    background: linear-gradient(to right,
            transparent,
            var(--color-header),
            transparent);
    border-radius: var(--radius-btn);
}

.skills-container {
    display: grid;
    grid-template-columns: 2fr .5fr .5fr;
    margin-top: 40px;
}

.frontend>p,
.database>p,
.tools>p {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-header);
    margin-bottom: 30px;
}

.box {
    width: 120px;
    margin: auto;
    padding: 18px 0;
    border-radius: var(--radius-btn);
    font-size: 14px;
    font-weight: 500;
    background-color: #EDD8FF;
    box-shadow: 0 0 8px 1px #80808045;
    transition: box-shadow 0.3s ease;
}

.box:hover {
    box-shadow: 0 0 6px 3px #63636345;
    background-color: #e4ccf9;
}

.box i {
    font-size: 28px;
    color: var(--color-header);
    margin-bottom: 5px;
    display: inline-block;
}

.box:hover i {
    animation: upDown .9s linear infinite;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(-6px);
    }

    100% {
        transform: translateY(0);
    }
}

.boxFront {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 0px;
    padding: 0 80px;
}

/* ---------- Responsive ---------- */

/* Mobile phone */
@media (max-width: 575px) {
    #skills-section {
        padding: 80px 0;
    }

    #skills-section .container h1 {
        margin-bottom: 60px;
    }

    .skills-container {
        grid-template-columns: 1fr;
        margin-top: 0px;
    }

    .frontend>p,
    .database>p,
    .tools>p {
        font-size: 18px;
        ;
        margin-bottom: 0px;
    }

    .database>p,
    .tools>p {
        margin: 12px 0
    }

    .box {
        width: 90%;
        font-size: 14px;
    }

    .box i {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .boxFront {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding: 0;
        margin: 18px 0;
    }
}

/* large mobile phone */
@media (min-width: 576px) and (max-width: 767px) {
    #skills-section {
        padding: 80px 0;
    }

    #skills-section .container h1 {
        margin-bottom: 60px;
    }

    .skills-container {
        grid-template-columns: 1fr;
        margin-top: 0px;
    }

    .frontend>p,
    .database>p,
    .tools>p {
        font-size: 18px;
        ;
        margin-bottom: 0px;
    }

    .database>p,
    .tools>p {
        margin: 12px 0
    }

    .box {
        width: 90%;
        font-size: 14px;
    }

    .box i {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .boxFront {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding: 0;
        margin: 18px 0;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    #skills-section {
        padding: 80px 0 ;
    }

    #skills-section .container h1 {
        margin-bottom: 60px;
    }

    .skills-container {
        grid-template-columns: 1fr 1fr;
        margin-top: 0px;
        gap: 0;
    }

    .frontend>p,
    .database>p,
    .tools>p {
        font-size: 18px;
        margin-bottom: 0px;
    }

    .frontend{
        grid-column: 1 / -1;
    }

    .database>p,
    .tools>p {
        margin: 12px 0
    }

    .box {
        width: 80%;
        font-size: 16px;
    }

    .box i {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .boxFront {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        padding: 0;
        margin: 18px 0;
    }
}