:root{
    --color-primary: #A53DFF;
    --color-primary-hover: #831ae0;
    --color-header: #132238;
    --color-navbar-text:#333333;
    --color-small-text:#556070;
    --color-dark-small-text: #697484;
    --color-whitesmoke:whitesmoke;
    --color-card-text: #424E60;
    --background-color-gray:#F0F1F3;
    --background-color-footer: #2B384C;
    --background-color-box:#EDD8FF;

    --radius-btn:10px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


a {
    all: unset;
    cursor: pointer;
}

p{
    margin: 0;
    padding: 0;
}

/* @media (max-width: 575px) {
  h1 { font-size: 24px; }
  h2 { font-size: 20px; }
  h3 { font-size: 18px; }

  p  { font-size: 14px; }
  a, button, span { font-size: 14px; }
}
@media (min-width: 576px) and (max-width: 767px) {
  h1 { font-size: 28px; }
  h2 { font-size: 22px; }
  h3 { font-size: 20px; }

  p  { font-size: 15px; }
  a, button, span { font-size: 15px; }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1 { font-size: 32px; }
  h2 { font-size: 26px; }
  h3 { font-size: 22px; }

  p  { font-size: 16px; }
  a, button, span { font-size: 16px; }
} */

